{% load static %}
<head>
    <title>My Veterinaria</title>
    <link rel="stylesheet" href="static/style.css">
  
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

</head>
<body>
    <div class="encabezado">
      <img src="/static/images/veterinaria_com.png" alt="vetCom" class="vetCom">
    <div class="tomahora">
    <a href="{% url 'login_paciente' %}"><h1>Ingreso paciente</h1></a>
    <a href="{% url 'login_trabajador' %}"><h1>Ingreso para trabajador</h1></a>
    <a href="{% url 'login_admin' %}"><h1>Administrador</h1></a>
    </div>
    </div>


    <section class="carousel" aria-label="Galería">
        <div class="carousel__slide" id="slide1">
          <img src="/static/images/imagen1.jpg" alt="Imagen 1">
        </div>
        <div class="carousel__slide" id="slide2">
          <img src="/static/images/imagen2.jpg" alt="Imagen 2">
        </div>
        <div class="carousel__slide" id="slide3">
          <img src="/static/images/imagen3.jpg" alt="Imagen 3">
        </div>
      </section>

      <aside class="carousel__navigation">
        <a href="#slide1" class="carousel__navigation-button"></a>
        <a href="#slide2" class="carousel__navigation-button"></a>
        <a href="#slide3" class="carousel__navigation-button"></a>
      </aside>

  <div class="contenedor-maps">
  <div id="map" class="maps"></div>
  </div>  
  <script>
    var map = L.map('map').setView([-33.490114566520035, -70.61681252700033], 13); // Santiago
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '© OpenStreetMap contributors'
    }).addTo(map);
    L.marker([-33.490186147655656, -70.61647993307355]).addTo(map).bindPopup('Veterinaria aquí').openPopup();
  </script>
    </body>