{% load static %}
<head>
    <title>My Veterinaria</title>
    <link rel="stylesheet" href="static/style.css">

</head>
<body>
    <div class="tomahora">
    <a href="/Pedido"><h1>Tome su hora</h1></a>
    <a href="/Paciente"><h1>Ingreso paciente</h1></a>
    <a href="/Trabajadores"><h1>Ingreso para trabajador</h1></a>
    <a href="/Revisar"><h1>Revision de su hora</h1></a>
    <a href="/Admin"><h1>Administrador</h1></a>
    </div>



    <section class="carru">
        div
    </section>


    <section class="carousel" aria-label="Galería">
        <div class="carousel__slide" id="slide1">
          <img src="/static/images/imagen1.jpg" alt="Imagen 1">
        </div>
        <div class="carousel__slide" id="slide2">
          <img src="/static/images/imagen2.jpg" alt="Imagen 2">
        </div>
        <div class="carousel__slide" id="slide3">
          <img src="/static/images/imagen3.jpg" alt="Imagen 3">
        </div>
      </section>

      <aside class="carousel__navigation">
        <a href="#slide1" class="carousel__navigation-button">1</a>
        <a href="#slide2" class="carousel__navigation-button">2</a>
        <a href="#slide3" class="carousel__navigation-button">3</a>
      </aside>
</body>